
@model EntityLayer.Concrete.Project

@{
    ViewData["Title"] = "AddProject";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
</div>

@using (Html.BeginForm("AddProject", "Project",FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label>Proje Başlığı</label>
                        @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Sertifika Proje Açıklaması</label>
                        @Html.TextAreaFor(x=>x.Description,10,2,new {@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.Description)
                    </div>
                    <div class="form-group">
                        <label>Proje Görseli</label>
                        @Html.TextBoxFor(x=>x.Image, new { @class="form-control" })
                        @Html.ValidationMessageFor(x=>x.Image)
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

